@model Cursus.MVC.ViewModels.AdminDashBoardViewModel;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="st_title"><i class="uil uil-apps"></i> Instructor Dashboard</h2>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card_dash">
                    <div class="card_dash_left">
                        <h5>Total Sales</h5>
                        <h2>@Model.TotalRevenue.ToString("C")</h2>
                    </div>
                    <div class="card_dash_right">
                        <img src="images/dashboard/achievement.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card_dash">
                    <div class="card_dash_left">
                        <h5>Total Users</h5>
                        <h2>@Model.TotalUsers</h2>
                    </div>
                    <div class="card_dash_right">
                        <img src="images/dashboard/graduation-cap.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card_dash">
                    <div class="card_dash_left">
                        <h5>Total Courses</h5>
                        <h2>@Model.TotalCourses</h2>
                    </div>
                    <div class="card_dash_right">
                        <img src="images/dashboard/online-course.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card_dash">
                    <div class="card_dash_left">
                        <h5>Total Report</h5>
                        <h2>@Model.PendingReports</h2>
                    </div>
                    <div class="card_dash_right">
                        <img src="images/dashboard/knowledge.svg" alt="">
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="section3125 mt-50">
                    <h4 class="item_title">Instructor</h4>
                    <div class="la5lo1">
                        <div class="owl-carousel edututs_news owl-theme">
                            @foreach (var instructor in Model.IntructorsList)
                            {
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        @if (Model.IntructorsList == null || !Model.IntructorsList.Any())
                                        {
                                            <div class="fcrse_1">
                                                <div class="fcrse_content">
                                                    <div class="upcming_card">
                                                        <h2>No Instructor</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tutor_img">
                                                <a
                                                    href="@Url.Action("InstructorProfile", "Account", new { id = instructor.Id })"><img
                                                        src="@instructor.Avatar" alt=""></a>
                                            </div>
                                            <div class="tutor_content_dt">
                                                <div class="tutor150">
                                                    <a href="@Url.Action("InstructorProfile", "Account", new { id = instructor.Id })"
                                                        class="tutor_name">@instructor.FullName</a>
                                                    <div class="mef78" title="Verify">
                                                        <i class="uil uil-check-circle"></i>
                                                    </div>
                                                </div>
                                                <div class="tutor_cate">@instructor.Bio</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="section3125 mt-50">
                    <h4 class="item_title">Pending Approval Course</h4>
                    <div class="la5lo1">
                        <div class="owl-carousel courses_performance owl-theme">
                            @if (Model.PendingCourseList == null || !Model.PendingCourseList.Any())
                            {
                                <div class="fcrse_1">
                                    <div class="fcrse_content">
                                        <div class="upcming_card">
                                            <h2>No Course</h2>
                                        </div>
                                    </div>
                                </div>
                                <h2>No Course</h2>
                            }
                            else
                            {
                                @foreach (var course in Model.PendingCourseList)
                                {
                                    <div class="item">
                                        <div class="fcrse_1">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <a asp-action="GetCourseDetail" asp-controller="Course"
                                                            asp-route-id="@course.CourseId"
                                                            class="fcrse_img d-flex justify-content-center align-items-center">
                                                            <img src="@course.CourseAvatar" alt="Avata">
                                                            <div class="course-overlay"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fcrse_content">
                                                <div class="vdtodt">
                                                    <span class="vdt14">@course.CourseDate.Value.ToString("dd MMM yyyy")</span>
                                                </div>
                                                <a href="#" class="crsedt145">@course.CourseName</a>
                                                <div class="allvperf">
                                                    <div class="crse-perf-left">View</div>
                                                    <div class="crse-perf-right">@course.CourseProcess</div>
                                                </div>
                                                <div class="allvperf">
                                                    <div class="crse-perf-left">Purchased</div>
                                                    @if (course.Discount > 0 && course.CourseMoney != 0)
                                                                {
                                                                    var discountAmount = (course.Discount / 100) * course.CourseMoney;
                                                                    var discountedPrice = course.CourseMoney - discountAmount;
                                                                    <div class="prce142">
                                                                        <span class="original-price" style="text-decoration: line-through;">@String.Format("${0:N2}",
                                                                                @course.CourseMoney)</span>
                                                                        <span class="discounted-price text-danger">@String.Format("${0:N2}",
                                                                                discountedPrice).Replace(",", ".")</span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="prce142"><span class="price">@String.Format("${0:N2}",
                                                                    @course.CourseMoney).Replace(",", ".")</span></div>
                                                                }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
