@model List<Cursus.MVC.Models.CourseViewModel>

<div class="table-responsive mt-30">
    <table class="table ucp-table">
        <thead class="thead-s">
            <tr>
                <th class="text-center" scope="col">Item No.</th>
                <th class="text-left">Title</th>
                <th class="text-center" scope="col">Thumbnail</th>
                <th class="text-center">Category</th>
                <th class="text-center">Price</th>
                <th class="text-center">Date</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td class="text-center">@course.CourseId</td>
                    <td class="text-left">@(!string.IsNullOrEmpty(course.CourseName) ? course.CourseName : "Unknown Course")</td>
                    <td class="text-center"><a href="#">View</a></td>
                    <td class="text-center"><a href="#">@(course.CategoryVM != null && !string.IsNullOrEmpty(course.CategoryVM.CategoryName) ? course.CategoryVM.CategoryName : "Unknown Category")</a></td>
                    <td class="text-center">@String.Format("{0:N2}", course.CourseMoney.HasValue ? course.CourseMoney.Value : 0.00) $</td>
                    <td class="text-center">@course.CourseDate?.ToString("yyyy-MM-dd")</td>
                    <td class="text-center"><b class="text-danger">@course.CourseStatus</b></td>
                    <td class="text-center">
                        <form asp-action="ReSubmitCourse" asp-controller="Instructor">
                            <input type="hidden" name="courseId" value="@course.CourseId" />
                            <button class="button" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                                </svg>
                                 Resubmit
                            </button>

                           
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>